@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 30s linear infinite;
}

.hover\:pause-marquee:hover {
  animation-play-state: paused;
}
